h5 {
    color: grey;
    font-weight: normal
}

h6 {
    color: grey;
    font-weight: normal;
    text-align: left;
}

h4 {
    text-align: left;
}

.tlg-divider {
    display: block;
    background-color: #49c5b6;
    width: 50px;
    height: 3px;
    margin: 16px auto;
    margin-left: 15px;
    margin-top: -1px;
}

.about_imgs {
    height: 370px;
    width: 430px;
}

.img_article {
    height: 900px;
    width: 620px
}

.team_imgs {
    height: 620px;
    width: 420px;
}

footer {
    margin-top: auto;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgb(46, 45, 45);
    color: white;
    text-align: center;
}